{
    "presets": ["react-native"],
    "plugins": [
    [
        "module-resolver",
        {
            "root": ["./"]
        }
    ]
    ],
    "env": {
        "development": {
            "plugins": [
                [
                    "transform-define",
                    {
                        // Please disable it, if you dont need Sentry for local development or it brokens backtrace for you
                        // It's enabled because We needed to test Sentry compatiblity for local development
                        // to protect bugs in release build
                        "SENTRY_ENABLED": true,
                        "GHUBBER_OAUTH": "https://ghub.lowl.io/v1/oauth/github"
                    }
                ]
            ]
        },
        "production": {
            "plugins": [
                [
                    "transform-define",
                    {
                        "SENTRY_ENABLED": true,
                        "GHUBBER_OAUTH": "https://ghub.lowl.io/v1/oauth/github"
                    }
                ],
                "transform-remove-console"
            ]
        }
    }
}
