{
    "presets": ["react-native"],
    "plugins": [
    [
        "module-resolver",
        {
            "root": ["./"]
        }
    ]
    ],
    "env": {
        "development": {
            "plugins": [
                [
                    "transform-define",
                    {
                        "SENTRY_ENABLED": false,
                        "GHUBBER_OAUTH": "http://ghub.lowl.io/v1/oauth/github"
                    }
                ]
            ]
        },
        "production": {
            "plugins": [
                [
                    "transform-define",
                    {
                        "SENTRY_ENABLED": true,
                        "GHUBBER_OAUTH": "http://ghub.lowl.io/v1/oauth/github"
                    }
                ],
                "transform-remove-console"
            ]
        }
    }
}
