{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "plugins": [
        "react",
        "react-native",
        "flowtype"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        // disabled for now, anyway will be removed in production build automaticaly
        "no-console": "off",
        //
        "react-native/no-unused-styles": 2,
        "react-native/split-platform-components": 2,
        "react-native/no-inline-styles": 2,
        //
        "semi": ["error", "always"],
        "object-curly-spacing": ["error", "always"],
        "quotes": ["error", "single", { "allowTemplateLiterals": true }],
        //
        "flowtype/define-flow-type": 1,
        "flowtype/use-flow-type": 1
    },
    "globals": {
        "__DEV__": true,
        "GHUBBER_OAUTH": true,
        // @todo flow
        "Action": true,
        "ComponentStyles": true,
        "State": true,
        "Store": true,
        "Dispatch": true,
        "Promise": true,
        "ThunkAction": true,
        "ActionType": true
    }
}
