{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "plugins": [
        "react",
        "react-native",
        "flowtype"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        // disabled for now, anyway will be removed in production build automaticaly
        "no-console": "off"
    },
    "globals": {
        "__DEV__": true,
        // @todo flow
        "Action": true,
        "State": true,
        "Promise": true,
        "ThunkAction": true
    }
}
